<main>
  <h2>Vender Produto</h2>

  <div class="card-pai">
    <div class="card">
      <div class="cards">

        <form>  
          <input [value]="nomeProduto" name="nomeProduto" type="text" placeholder="Nome do produto" readonly>
          <input [value]="precoProduto" name="precoProduto" type="text" placeholder="Valor em R$" readonly>
          <input [value]="quantidadeProduto" name="quantidadeProduto" type="text" placeholder="Quantidade em estoque" readonly>
          <input [(ngModel)]="quantidadeVendida" id="quantidade-vender" name="quantidadeVendida" type="number" placeholder="Quantidade a vender">

          <div class="bnts">
            <button id="sell" type="button" (click)="vender()">Vender</button> 
            <button type="button" (click)="voltar()">Voltar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</main>