
<div class="container">

  <h1>Vender Produto</h1>

  <div class="formulario">

    <input
      [(ngModel)]="nomeProduto"
      type="text"
      disabled
    >

    <input
      [(ngModel)]="precoProduto"
      type="text"
      disabled
    >

    <input
      [(ngModel)]="quantidadeProduto"
      type="text"
      disabled
    >

    <input
      [(ngModel)]="quantidadeVenda"
      type="number"
      placeholder="Quantidade para venda"
    >

    <div class="botoes">

      <button type="button">
        Vender
      </button>

      <button type="button">
        Voltar 
      </button>

    </div>

  </div>

</div>
```
